{% extends "sqladmin/base.html" %}
{% block body %}
<div class="d-flex align-items-center justify-content-center vh-100">
  <form class="Fcol-lg-6 col-md-6 card card-md" action="{{ url_for('admin:login') }}" method="POST" autocomplete="off">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">登录 {{ admin.title }}</h2>
      <div class="mb-3">
        <label class="form-label">邮箱</label>
        {% if error %}
        <input name="username" type="text" class="form-control is-invalid" placeholder="请输入邮箱"
          autocomplete="off">
        <div class="invalid-feedback">{{ error }}</div>
        {% else %}
        <input name="username" type="text" class="form-control" placeholder="请输入邮箱" autocomplete="off">
        {% endif %}
      </div>
      <div class="mb-2">
        <label class="form-label">
          密码
        </label>
        <div class="input-group input-group-flat">
          {% if error %}
          <input name="password" type="password" class="form-control is-invalid" placeholder="密码"
            autocomplete="off">
          <div class="invalid-feedback">{{ error }}</div>
          {% else %}
          <input name="password" type="password" class="form-control" placeholder="密码" autocomplete="off">
          {% endif %}
        </div>
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">登录</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
