@use '@/styles/variables' as *;
@use '@/styles/common' as *;

.work {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-mute);
  position: relative;

  .body {
    flex: 1;
    min-height: 0;
    position: relative;
    overflow: hidden;

    .pane {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }
}
